@(pn:Clean,f:Clean,a1:Clean,a2:Clean,a3:Clean,a4:Clean)

<div class="container">
    <h2>รายการสินค้า</h2>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table class="table table-hover" style="background-color: paleturquoise">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Barnd</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@pn.getId </td>
                        <td>@pn.getName</td>
                        <td>@pn.getBrand</td>
                        <td>@pn.getPrice</td>
                        <td>@pn.getAmount</td>
                        <td>@pn.getSize</td>
                    </tr>
                    <tr>
                        <td colspan="6"align="center">
                            <img src="/assets/images/5.jpg" width="150" height="150" class="img-circle">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table class="table table-hover" style="background-color: paleturquoise">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Barnd</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@f.getId </td>
                        <td>@f.getName</td>
                        <td>@f.getBrand</td>
                        <td>@f.getPrice</td>
                        <td>@f.getAmount</td>
                        <td>@f.getSize</td>
                    </tr>
                    <tr>
                        <td colspan="6"align="center">
                            <img src="/assets/images/3.jpg" width="150" height="150" class="img-circle">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table class="table table-hover"  style="background-color: paleturquoise">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Barnd</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@a1.getId </td>
                        <td>@a1.getName</td>
                        <td>@a1.getBrand</td>
                        <td>@a1.getPrice</td>
                        <td>@a1.getAmount</td>
                        <td>@a1.getSize</td>
                    </tr>
                    <tr>
                        <td colspan="6"align="center">
                            <img src="/assets/images/4.jpg" width="150" height="150" class="img-circle">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table class="table table-hover" style="background-color: paleturquoise">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Barnd</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@a2.getId </td>
                        <td>@a2.getName</td>
                        <td>@a2.getBrand</td>
                        <td>@a2.getPrice</td>
                        <td>@a2.getAmount</td>
                        <td>@a2.getSize</td>
                    </tr>
                    <tr>
                        <td colspan="6"align="center">
                            <img src="/assets/images/2.jpg" width="150" height="150" class="img-circle">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table class="table table-hover" style="background-color: paleturquoise">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Barnd</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@a3.getId </td>
                        <td>@a3.getName</td>
                        <td>@a3.getBrand</td>
                        <td>@a3.getPrice</td>
                        <td>@a3.getAmount</td>
                        <td>@a3.getSize</td>
                    </tr>
                    <tr>
                        <td colspan="6"align="center">
                            <img src="/assets/images/1.jpg" width="150" height="150" class="img-circle">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table class="table table-hover" style="background-color: paleturquoise">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Barnd</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@a4.getId </td>
                        <td>@a4.getName</td>
                        <td>@a4.getBrand</td>
                        <td>@a4.getPrice</td>
                        <td>@a4.getAmount</td>
                        <td>@a4.getSize</td>
                    </tr>
                    <tr>
                        <td colspan="6"align="center">
                            <img src="/assets/images/6.jpg" width="150" height="150" class="img-circle">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>